<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="row px-5">
    <div class="col toggle-btn my-auto">
      <span class="one"></span>
      <span class="two"></span>
    </div>
    <div class="col goHamLogo text-center my-auto">
      <img src="images/goHamLogo.png" alt="" />
    </div>
    <div class="col goHamText text-end my-auto">
      <img src="images/goHamsterWhite.png" alt="" />
    </div>
  </div>
</div>

<div class="menu">
  <div class="data">
    <ul>
      <li><a id="link" href="#">Calorie Tracker</a></li>
      <li><a id="link" href="#">About</a></li>
      <li><a id="link" href="#">Directory</a></li>
      <li><a id="link" href="#">Sign In</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  var t1 = new TimelineMax({ paused: true });

  t1.to(".one", 0.5, {
    y: 6,
    rotation: 45,
    ease: Expo.easeInOut,
  });
  t1.to(".two", 0.5, {
    y: -6,
    rotation: -45,
    ease: Expo.easeInOut,
    delay: -0.5,
  });

  t1.to(".menu", 2, {
    top: "0%",
    ease: Expo.easeInOut,
    delay: -2,
  });

  t1.staggerFrom(
    ".menu ul li",
    0.5,
    { x: -200, opacity: 0, ease: Expo.easeOut },
    0.2
  );

  t1.reverse();
  $(document).on("click", ".toggle-btn", function () {
    t1.reversed(!t1.reversed());
  });
  $(document).on("click", "#link", function () {
    t1.reversed(!t1.reversed());
  });
</script>
