<%- include('partials/head') %>
<%- include('partials/nav') %>
<%- include('partials/welcome') %>


<link href="css/about.css" rel="stylesheet" />
   <div id="carouselExampleIndicators" class="carousel w-75  slide mx-auto mt-4"  data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active" data-bs-interval="3000">
        <a>
          <img src="images/carousel/1.png" class="d-block w-100"  alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="3000" >
        <a>
          <img src="images/carousel/2.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <a href="/directory1">
          <img src="images/carousel/3.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <a href="/login">
          <img src="images/carousel/4.png" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <a href="/calculator1">
          <img src="images/carousel/5.png" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="infoText w-75 mx-auto mt-4 mb-5" >
<p style="font-size: 1.3em; text-align: justify;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ullam consequuntur, et omnis hic quo, quibusdam obcaecati minima eveniet veritatis consequatur! Labore neque sapiente vel eaque dignissimos hic eos et.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed inventore iste quo. Quia obcaecati minima aliquid molestias voluptatibus, earum atque incidunt quos dolor soluta harum ea voluptatem repellat eius ratione!
</p>
</div>
<div class="cards w-75 mx-auto" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row">
    <div class="first-card col">
      <div class="row">
        <div class="col-3">
          <img src="images/card1.png" style="max-width: 80px;" alt="">
        </div>
        <div class="col-9">
          <div class="h2 text-left">Find more joy in your life</div>
        </div>
      </div>
      <div class="row">
        <div class="h5">Catch your breath, relax your mind, and feel less stressed. </div>
      </div>
    </div>
    <div class="second-card col">
      <div class="row">
        <div class="col-3">
          <img src="images/card2.png" style="max-width: 80px;" alt="">
        </div>
        <div class="col-9">
          <div class="h2 text-left">Get more goodnights</div>
        </div>
      </div>
      <div class="row">
        <div class="h5">Put your mind to bed, wake up refreshed, and make good days your new normal.</div>
      </div>
    </div>
    <div class="third-card col">
      <div class="row">
        <div class="col-3">
          <img src="images/card3.png" style="max-width: 80px;" alt="">
        </div>
        <div class="col-9">
          <div class="h2 text-left">Make every day happier</div>
        </div>
      </div>
      <div class="row">
        <div class="h5">Do it for yourself, and everyone you love. Make a lifestyle change and you will not regret it.</div>
      </div>
    </div>

  </div>
</div>

<div class="container w-75 mx-auto" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row mb-4 mt-5">
    <div class="col">
      <div class="h1 text-center " style="color: #f05454; font-size: 3em;">
        Our Services
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-4">
      <a href="/directory1">
        <div class="card card1 h-100" style="width: 20rem; border-radius: 1.3em;">
          <img src="images/directory.jpg" class="card-img-top p-3 w-100" style="border-radius: 1.6em; object-fit: contain;" alt="...">
          <div class="card-body text-center">
            <div class="h3">DIRECTORY</div>
            <p class="card-text">Explore your favorite exercises</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/login">
        <div class="card card2 h-100" style="width: 20rem;  border-radius: 1.3em;">
          <img src="images/calculatordemo.jpg" class="card-img-top p-3 w-100" style="border-radius: 1.6em; object-fit: contain;" alt="...">
          <div class="card-body text-center">
            <div class="h3">MEAL TRACKER</div>
            <p class="card-text">Keep a track of what you eat</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/calculator1">
        <div class="card card3 h-100" style="width: 20rem;  border-radius: 1.3em;">
          <img src="images/caloriedemo.jpg" class="card-img-top p-3 w-100" style="border-radius: 1.6em; object-fit: contain;" alt="...">
          <div class="card-body text-center">
            <div class="h3">CALORIE CALCULATOR</div>
            <p class="card-text">Calculate your recommended calorie intake</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<script src="js/about.js"></script>
 
<%- include('partials/footer') %>