<%- include('partials/head') %>
<%- include('partials/nav') %>
<%- include('partials/welcome') %>


<link href="css/about.css" rel="stylesheet" />
<!-- <div class="container col-lg-12 col-md-12 col-sm-12">
    <div class="row d-flex justfy-content-center align-items-center  ">
      <div class="aboutText ">
        <h1 class="aboutusText">About Us</h1>
      </div>     
      <div class="rectangle">
      </div>
    </div>
</div> -->

<div class="container-fluid col-12">
  <div class="row d-flex justfy-content-center align-items-center  ">
    <div class="aboutText ">
      <h1 class="aboutusText">Get fit with us</h1>
    </div>     
    <div class="rectangle">
    </div>
  </div>
</div>   
  
<div class="container">
	<div class="row">
		<div class="col-md-4">
    <div class="profile-card-2"><a href="/directory1">
      <img src="images/directory.jpg" class="img img-responsive">
    </a>
        <div class="profile-name">DIRECTORY</div>
        <div class="profile-username">EXplore your favorite exercises</div>
        <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
    </div>
  </div>

    <div class="col-md-4">
    <div class="profile-card-2"><a href="/login">
      <img src="images/calculatordemo.jpg" class="img img-responsive">
    </a>
      <div class="profile-name">MEAL TRACKER</div>
      <div class="profile-username">Keep a track of what you eat</div>
      <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
  </div>
</div>
		<div class="col-md-4">
    <div class="profile-card-2"><a href="/calculator1">
      <img src="images/caloriedemo.jpg" class="img img-responsive" onclick="">
    </a>
      <div class="profile-name">CALORIE CALCULATOR</div>
      <div class="profile-username">Calculate your recommended calorie intake</div>
      <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
  </div>
</div>
	</div>
</div>
<script src="js/about.js"></script>
 
<%- include('partials/footer') %>