<%- include('partials/head') %>
<%- include('partials/nav') %>
<link href="css/roundslider.min.css" rel="stylesheet" />
<link href="css/calculator1.css" rel="stylesheet" />

                                    

<div class="info d-flex justfy-content-center align-items-center flex-column w-75 mx-auto h-100 ">
    
    <div class="sliders w-75 h-50 align-items-end justify-content-between d-lg-flex flex-row">
        <div class="ageDiv">
            <h4>Age</h4>
            <div class="age" id="slider1"></div>
        </div>
        <div class="heightDiv">
            <h4>Height(in cm)</h4>
            <div class="height" id="slider2"></div>
        </div>
        <div class="weightDiv">
            <h4>Weight(in kg)</h4>
            <div class="weight" id="slider3"></div>
        </div>
    </div>
    <div class="secondRow d-flex justfy-content-center ">
        <div class="extraInfo col-lg-8">
            <div class="genderDiv" >
                <h4>Gender</h4>
                <input type="radio" class="gender" name="gender" value="male"  id="male"/>
                <label for="male">Male</label>
                <input type="radio" class="gender"  name="gender" value="female" id="female"/>
                <label for="female">Female</label>
            </div>

            <div class="dropdown">
                <label for="frequency">How often do you exercise</label>
                <select id="frequency" name="frequency">
                    <option value="1" selected="">Basal Metabolic Rate (BMR)</option>
                    <option value="1.2">Sedentary: little or no exercise</option>
                    <option value="1.375">Light: exercise 1-3 times/week</option>
                    <option value="1.465">Moderate: exercise 4-5 times/week</option>
                    <option value="1.55">Active: daily exercise or intense exercise 3-4 times/week</option>
                    <option value="1.725">Very Active: intense exercise 6-7 times/week</option>
                    <option value="1.9">Extra Active: very intense exercise daily, or physical job</option>
                </select>
            </div>
            
            <button class="btn btn-success" onclick="CalCalculator()">
                submit
            </button>
        </div>
        <div class="result col-lg-4">
            <h1 >Your BMR is : <span id="resultBMR"></span> </h1>
        </div>
        
    </div>
    

</div>    

<p class="ageValue d-none"></p>

<p class="heightValue d-none"></p>

<p class="weightValue d-none"></p>


<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<script src="js/roundslider.min.js"></script> 
<script src="js/calculator1.js"></script>