<div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
  <div class="row">
    <div class="col-sm-4 col-xl-4 mb-4 ms-0">
      <!-- card body -->
      <div
        class="card h-100"
        style="
          border-radius: 20px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        "
      >
        <div
          class="img text-center d-block mt-2 mb-4"
          style="height: 110px"
        ></div>
        <div class="card-body" style="border-radius: 20%">
          <div class="d-flex justify-content-between">
            <h4 class="card-title" style="font-size: 105%">hello</h4>
            <h5 class="card-text fw-bold text-end;">₹10</h5>
          </div>

          <p class="card-text" style="font-size: 80%">
            h are going to present a report on web application testing.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
    <div class="row">
      <div class="col-sm-4 col-xl-4 mb-4 ms-0">
        <!-- card body -->
        <div
          class="card h-100"
          style="
            border-radius: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          "
        >
          <div
            class="img text-center d-block mt-2 mb-4"
            style="height: 110px"
          ></div>
          <div class="card-body" style="border-radius: 20%">
            <div class="d-flex justify-content-between">
              <h4 class="card-title" style="font-size: 105%">hello</h4>
              <h5 class="card-text fw-bold text-end;">₹10</h5>
            </div>
  
            <p class="card-text" style="font-size: 80%">
              h are going to present a report on web application testing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
    <div class="row">
      <div class="col-sm-4 col-xl-4 mb-4 ms-0">
        <!-- card body -->
        <div
          class="card h-100"
          style="
            border-radius: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          "
        >
          <div
            class="img text-center d-block mt-2 mb-4"
            style="height: 110px"
          ></div>
          <div class="card-body" style="border-radius: 20%">
            <div class="d-flex justify-content-between">
              <h4 class="card-title" style="font-size: 105%">hello</h4>
              <h5 class="card-text fw-bold text-end;">₹10</h5>
            </div>
  
            <p class="card-text" style="font-size: 80%">
              h are going to present a report on web application testing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    