<%- include('partials/head') %>
 <%- include('partials/nav') %>
<%- include('partials/welcome') %>


<link rel="stylesheet" href="css/directory1.css" />
<div class="content">
  <h1 class="display-1 dirText">DIRECTORY</h1>
  <div class="rectangle">
    <a id="enter" class="enter">ENTER</a>
  </div>
</div>

<div class="genderSection" id="genderSection">
  <h1 class="genderText">Select your <span class="outText">gender</span></h1>
  <div class="radio">
    <input
      type="radio"
      name="gender"
      id="male"
      value="male"
      class="gender selRad"
    />
    <label for="male" class="genderLabel">Male</label>

    <div class="check selRad"></div>
  </div>
  <div class="radio">
    <input
      type="radio"
      name="gender"
      value="female"
      id="female"
      class="gender selRad"
    />
    <label for="female" class="genderLabel">Female</label>

    <div class="check selRad"></div>
  </div>
</div>

<div class="musclePick" id="musclePick">
  <h1>Select the body part you want to train</h1>
  <div class="muscle-map ">
    <img
      class="background"
      id="background"
      src="images/muscle/muscleMap.png"
      alt=""
    />
    <img
      onclick="location.href = '/directory?bodyPart=traps&type=Stretches'"
      class="trapsA"
      src="images/muscle/maleFront/trapsA.png"
      alt=""
    />
    <img onclick="location.href = '/directory?bodyPart=traps&type=Stretches'" class="trapsB" src="images/muscle/maleFront/trapsB.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=shoulders&type=Stretches'" class="DeltoidA" src="images/muscle/maleFront/DeltoidA.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=shoulders&type=Stretches'" class="DeltoidB" src="images/muscle/maleFront/DeltoidB.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=chest&type=Stretches'" class="Pecs" src="images/muscle/maleFront/Pecs.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=abs&type=Stretches'" class="Abs" src="images/muscle/maleFront/Abs.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=quads&type=Stretches'"class="QuadsA" src="images/muscle/maleFront/QuadsA.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=quads&type=Stretches'" class="QuadsB" src="images/muscle/maleFront/QuadsB.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=calves&type=Stretches'"class="CalvesA" src="images/muscle/maleFront/CalvesA.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=calves&type=Stretches'"class="CalvesB" src="images/muscle/maleFront/CalvesB.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=forearms&type=Stretches'" class="ForearmA" src="images/muscle/maleFront/ForearmA.png" alt />
    <img onclick="location.href = '/directory?bodyPart=forearms&type=Stretches'" class="ForearmB" src="images/muscle/maleFront/ForearmB.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=biceps&type=Stretches'" class="BicepA" src="images/muscle/maleFront/BicepA.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=biceps&type=Stretches'" class="BicepB" src="images/muscle/maleFront/BicepB.png" alt="" />
    <!--backmale-->
    <img onclick="location.href = '/directory?bodyPart=traps&type=Stretches'" class="Traps" src="images/muscle/maleBack/Traps.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=shoulders&type=Stretches'" class="RearDeltA" src="images/muscle/maleBack/RearDeltA.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=shoulders&type=Stretches'" class="RearDeltB" src="images/muscle/maleBack/RearDeltB.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=triceps&type=Stretches'" class="TricepsA" src="images/muscle/maleBack/TricepsA.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=triceps&type=Stretches'" class="TricepsB" src="images/muscle/maleBack/TricepsB.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=midback&type=Stretches'" class="MidBack" src="images/muscle/maleBack/Midback.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=lats&type=Stretches'" class="LatsA" src="images/muscle/maleBack/LatsA.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=lats&type=Stretches'" class="LatsB" src="images/muscle/maleBack/LatsB.png" alt="" />
    <img class="LowerBack" src="images/muscle/maleBack/LowerBack.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=glutes&type=Stretches'"class="Glutes" src="images/muscle/maleBack/Glutes.png" alt="" />
    <img
      class="HamstringsA"
      src="images/muscle/maleBack/HamstringsA.png"
      alt=""
    />
    <img
      class="HamstringsB"
      src="images/muscle/maleBack/HamstringsB.png"
      alt=""
    />
    <img
      onclick="location.href = '/directory?bodyPart=calves&type=Stretches'"
      class="CalvesBackA"
      src="images/muscle/maleBack/CalvesBackA.png"
      alt=""
    />
    <img
      onclick="location.href = '/directory?bodyPart=calves&type=Stretches'"
      class="CalvesBackB"
      src="images/muscle/maleBack/CalvesBackB.png"
      alt=""
    />
    <img
      onclick="location.href = '/directory?bodyPart=forearms&type=Stretches'"
      class="ForearmBackA"
      src="images/muscle/maleBack/ForearmBackA.png"
      alt=""
    />
    <img
     onclick="location.href = '/directory?bodyPart=forearms&type=Stretches'"
      class="ForearmBackB"
      src="images/muscle/maleBack/ForearmBackB.png"
      alt=""
    />
  </div>
  <div class="f-muscle-map ">
    <img
      class="background"
      id="background"
      src="images/muscle/fmuscleMap.png"
      alt=""
    />
    <img
      class="ftrapsA"
      src="images/muscle/femaleFront/trapsA.png"
      alt=""
    />
     <img class="ftrapsB" src="images/muscle/femaleFront/trapsB.png" alt="" />
    <img class="fDeltoidA" src="images/muscle/femaleFront/DeltoidA.png" alt="" />
    <img class="fDeltoidB" src="images/muscle/femaleFront/DeltoidB.png" alt="" />
    <img class="fPecs" src="images/muscle/femaleFront/Pecs.png" alt="" />
    <img class="fAbs" src="images/muscle/femaleFront/Abs.png" alt="" />
    <img class="fQuadsA" src="images/muscle/femaleFront/QuadsA.png" alt="" />
    <img class="fQuadsB" src="images/muscle/femaleFront/QuadsB.png" alt="" />
    <img class="fCalvesA" src="images/muscle/femaleFront/CalvesA.png" alt="" />
    <img class="fCalvesB" src="images/muscle/femaleFront/CalvesB.png" alt="" />
    <img class="fForearmA" src="images/muscle/femaleFront/ForearmA.png" alt />
    <img class="fForearmB" src="images/muscle/femaleFront/ForearmB.png" alt="" />
    <img class="fBicepA" src="images/muscle/femaleFront/BicepA.png" alt="" />
    <img class="fBicepB" src="images/muscle/femaleFront/BicepB.png" alt="" />
  
    <img class="fTraps" src="images/muscle/femaleBack/Traps.png" alt="" />
    <img class="fRearDeltA" src="images/muscle/femaleBack/RearDeltA.png" alt="" />
    <img class="fRearDeltB" src="images/muscle/femaleBack/RearDeltB.png" alt="" />
    <img class="fTricepsA" src="images/muscle/femaleBack/TricepsA.png" alt="" />
    <img class="fTricepsB" src="images/muscle/femaleBack/TricepsB.png" alt="" />
    <img class="fMidBack" src="images/muscle/femaleBack/Midback.png" alt="" />
    <img class="fLatsA" src="images/muscle/femaleBack/LatsA.png" alt="" />
    <img class="fLatsB" src="images/muscle/femaleBack/LatsB.png" alt="" />
    <img class="fLowerBack" src="images/muscle/femaleBack/LowerBack.png" alt="" />
    <img class="fGlutes" src="images/muscle/femaleBack/Glutes.png" alt="" />
    <img
      class="fHamstringsA"
      src="images/muscle/femaleBack/HamstringsA.png"
      alt=""
    />
    <img
      class="fHamstringsB"
      src="images/muscle/femaleBack/HamstringsB.png"
      alt=""
    />
    <img
      class="fCalvesBackA"
      src="images/muscle/femaleBack/CalvesBackA.png"
      alt=""
    />
    <img
      class="fCalvesBackB"
      src="images/muscle/femaleBack/CalvesBackB.png"
      alt=""
    />
    <img
      class="fForearmBackA"
      src="images/muscle/femaleBack/ForearmBackA.png"
      alt=""
    />
    <img
      class="fForearmBackB"
      src="images/muscle/femaleBack/ForearmBackB.png"
      alt=""
    /> 
  </div>
</div>

<div class="back1">back</div>
<div class="back2">back</div>

<script src="js/functions.js"></script>
