<%- include('partials/head') %> <%- include('partials/nav') %>

<link rel="stylesheet" href="css/directory1.css" />
<div class="content">
  <h1 class="dirText">DIRECTORY</h1>
  <a id="enter" class="enter">ENTER</a>
</div>

<div class="genderSection">
  <h1 class="genderText">Select your <span class="outText">gender</span></h1>
  <div class="radio">
    <input type="radio" name="gender" id="male" value="male" class="gender selRad" />
    <label for="male" class="genderLabel">Male</label>

    <div class="check selRad"></div>
  </div>
  <div class="radio">
    <input type="radio" name="gender" value="female" id="female" class="gender selRad" />
    <label for="female" class="genderLabel">Female</label>

    <div class="check selRad"></div>
  </div>
</div>

<div class="musclePick">
  <h1>Select the body part you want to train</h1>
  <div class="muscle-map">
    <img class="background" id="background" src="images/muscle/muscleMap.png" alt="">
    <img class="trapsA" src="images/muscle/trapsA.png" alt="">
    <img class="trapsB" src="images/muscle/trapsB.png" alt="">
    <img class="DeltoidA" src="images/muscle/DeltoidA.png" alt="">
    <img class="DeltoidB" src="images/muscle/DeltoidB.png" alt="">
    <img class="Pecs" src="images/muscle/Pecs.png" alt="">
    <img class="Abs" src="images/muscle/Abs.png" alt="">
    <img class="QuadsA" src="images/muscle/QuadsA.png" alt="">
    <img class="QuadsB" src="images/muscle/QuadsB.png" alt="">
    <img class="CalvesA" src="images/muscle/CalvesA.png" alt="">
    <img class="CalvesB" src="images/muscle/CalvesB.png" alt="">
    <img class="ForearmA" src="images/muscle/ForearmA.png" alt>
    <img class="ForearmB" src="images/muscle/ForearmB.png" alt="">
    <img class="BicepA" src="images/muscle/BicepA.png" alt="">
    <img class="BicepB" src="images/muscle/BicepB.png" alt="">
  </div>
</div>

<div class="back1">back</div>
<div class="back2">back</div>

<script src="js/functions.js"></script>

<!-- <div class="shapes">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
    </div> -->
