<%- include('partials/head') %> <%- include('partials/nav') %>

<link rel="stylesheet" href="css/directory.css" />

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a>Data</a></li>
    </ol>
    </nav>
    <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
        <div class="w-75 d-flex justify-content-center excerciseHead">
            <h3>Excercise Name</h3>
        </div>
        <div class="container w-75 col-lg-12 d-flex flex-column flex-lg-row exerciseContent">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-lg-5 exerciseImage">
                <img class="img-fluid" src="images/bicep.gif"></img>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-lg-5 exerciseText">
                <h4>
                    <ol>
                        <li>While holding the upper arms stationary, curl the weights forward while contracting the biceps as you breathe out.</li>
                        <li class="mt-2">Continue the movement until your biceps are fully contracted and the bar is at shoulder level.</li>
                        <li class="mt-2">Hold the contracted position for a second and squeeze the biceps hard.</li>
                        <li class="mt-2">Slowly bring the weight back down to the starting position</li>
                    </ol>
                </h4>
            </div>
        </div>
        <div class="w-50 d-none justify-content-between d-lg-flex flex-col bottomNav">
            <div class="stretches equipment">
                <h4 class="activeEq">Stretches</h4>
            </div>
            <div class="bodyweight equipment">
                <h4>Bodyweight</h4>
            </div>
            <div class="dumbbells equipment">
                <h4>Dumbbells</h4>
            </div>
            <div class="barbells equipment">
                <h4>Barbells</h4>
            </div>
            <div class="kettlebells equipment">
                <h4>Kettlebells</h4>
            </div>

        </div>
    </div>
    
