<%- include('partials/head') %> <%- include('partials/nav') %>

<link rel="stylesheet" href="css/directory1.css" />
<div class="content">
  <h1 class="dirText">DIRECTORY</h1>
  <a id="enter" class="enter">ENTER</a>
</div>

<div class="genderSection">
  <h1 class="genderText">Select your <span class="outText">gender</span></h1>
  <div class="radio">
    <input type="radio" name="gender" id="male" value="male" class="gender selRad" />
    <label for="male" class="genderLabel">Male</label>

    <div class="check selRad"></div>
  </div>
  <div class="radio">
    <input type="radio" name="gender" value="female" id="female" class="gender selRad" />
    <label for="female" class="genderLabel">Female</label>

    <div class="check selRad"></div>
  </div>
</div>

<div class="back">back</div>

<script src="js/functions.js"></script>

<!-- <div class="shapes">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
    </div> -->
