<%- include('partials/head') %> <%- include('partials/nav') %>

<link rel="stylesheet" href="css/directory1.css" />
<div class="content">
  <h4>Welcome to the</h4>
  <h1>DIRECTORY</h1>
  <a id="enter" class="enter">ENTER</a>
</div>

<div class="genderSection">
  <h1 class="genderText">Select your <span class="outText">gender</span></h1>
  <h3><input type="radio" name="gender" value="male" /> Male</h3>
  <h3><input type="radio" name="gender" value="female" /> Female</h3>
</div>

<script src="js/functions.js"></script>

<!-- <div class="shapes">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
    </div> -->
