<%- include('partials/head') %> 
<%- include('partials/nav') %> 

<link rel="stylesheet" href="css/directory.css">

    <div class="col-md-12 col-sm-12">
       <section class="one">
           <h1>"Directory"</h1>
       </section>
       <section class="two">
        <h1>"select your gender"</h1>
        </section>
        <section class="three">
            <h1>"third page"</h1>
        </section>
        <section class="four">
            <h1>"fourth page"</h1>
        </section>
    </div>