<%- include('partials/head') %> <%- include('partials/nav') %>

<link rel="stylesheet" href="css/directory1.css" />
<div class="content">
  <h1 class="display-1 dirText">DIRECTORY</h1>
  <div class="rectangle">
    <a id="enter" class="enter">ENTER</a>
  </div>
</div>

<div class="genderSection" id="genderSection">
  <h1 class="genderText">Select your <span class="outText">gender</span></h1>
  <div class="radio">
    <input
      type="radio"
      name="gender"
      id="male"
      value="male"
      class="gender selRad"
    />
    <label for="male" class="genderLabel">Male</label>

    <div class="check selRad"></div>
  </div>
  <div class="radio">
    <input
      type="radio"
      name="gender"
      value="female"
      id="female"
      class="gender selRad"
    />
    <label for="female" class="genderLabel">Female</label>

    <div class="check selRad"></div>
  </div>
</div>

<div class="musclePick" id="musclePick">
  <h1>Select the body part you want to train</h1>
  <div class="muscle-map">
    <img
      class="background"
      id="background"
      src="images/muscle/muscleMap.png"
      alt=""
    />
    <img
      onclick="location.href = '/directory?bodyPart=traps&type=Stretches'"
      class="trapsA"
      src="images/muscle/maleFront/trapsA.png"
      alt=""
    />
    <img onclick="location.href = '/directory?bodyPart=traps&type=Stretches&excerName='" class="trapsB" src="images/muscle/maleFront/trapsB.png" alt="" />
    <img onclick="location.href = '/directory?bodyPart=shoulder&type=Stretches&excerName='" class="DeltoidA" src="images/muscle/maleFront/DeltoidA.png" alt="" />
    <img class="DeltoidB" src="images/muscle/maleFront/DeltoidB.png" alt="" />
    <img class="Pecs" src="images/muscle/maleFront/Pecs.png" alt="" />
    <img class="Abs" src="images/muscle/maleFront/Abs.png" alt="" />
    <img class="QuadsA" src="images/muscle/maleFront/QuadsA.png" alt="" />
    <img class="QuadsB" src="images/muscle/maleFront/QuadsB.png" alt="" />
    <img class="CalvesA" src="images/muscle/maleFront/CalvesA.png" alt="" />
    <img class="CalvesB" src="images/muscle/maleFront/CalvesB.png" alt="" />
    <img class="ForearmA" src="images/muscle/maleFront/ForearmA.png" alt />
    <img class="ForearmB" src="images/muscle/maleFront/ForearmB.png" alt="" />
    <img class="BicepA" src="images/muscle/maleFront/BicepA.png" alt="" />
    <img class="BicepB" src="images/muscle/maleFront/BicepB.png" alt="" />
    <!--backmale-->
    <img class="Traps" src="images/muscle/maleBack/Traps.png" alt="" />
    <img class="RearDeltA" src="images/muscle/maleBack/RearDeltA.png" alt="" />
    <img class="RearDeltB" src="images/muscle/maleBack/RearDeltB.png" alt="" />
    <img class="TricepsA" src="images/muscle/maleBack/TricepsA.png" alt="" />
    <img class="TricepsB" src="images/muscle/maleBack/TricepsB.png" alt="" />
    <img class="MidBack" src="images/muscle/maleBack/Midback.png" alt="" />
    <img class="LatsA" src="images/muscle/maleBack/LatsA.png" alt="" />
    <img class="LatsB" src="images/muscle/maleBack/LatsB.png" alt="" />
    <img class="LowerBack" src="images/muscle/maleBack/LowerBack.png" alt="" />
    <img class="Glutes" src="images/muscle/maleBack/Glutes.png" alt="" />
    <img
      class="HamstringsA"
      src="images/muscle/maleBack/HamstringsA.png"
      alt=""
    />
    <img
      class="HamstringsB"
      src="images/muscle/maleBack/HamstringsB.png"
      alt=""
    />
    <img
      class="CalvesBackA"
      src="images/muscle/maleBack/CalvesBackA.png"
      alt=""
    />
    <img
      class="CalvesBackB"
      src="images/muscle/maleBack/CalvesBackB.png"
      alt=""
    />
    <img
      class="ForearmBackA"
      src="images/muscle/maleBack/ForearmBackA.png"
      alt=""
    />
    <img
      class="ForearmBackB"
      src="images/muscle/maleBack/ForearmBackB.png"
      alt=""
    />
  </div>
</div>

<div class="back1">back</div>
<div class="back2">back</div>

<script src="js/functions.js"></script>
