<%- include('partials/head') %>
<%- include('partials/nav') %>
<%# include('partials/welcome') %> 

<link rel="stylesheet" href="css/editProfile.css" />

<div class="container-fluid bgEditEmail col-lg-12 col-md-12 col-sm-12">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="row h-100">
        <!-- <div class="w-100 d-flex justify-content-center align-items-center">
        </div> -->
        <div class="w-50 m-auto">
            <form>
                <div class="display-3 text-center mb-4" style="color: #F05454;">Enter details</div>
                <div class="row">
                  <div class="col-6 mx-auto">
                    <label class="lab" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name">
                  </div>
                  <div class="col-6 mx-auto">
                    <label class="lab" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name">
                  </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 mx-auto">
                      <label class="lab" for="editHeight">Height(in cms)</label>
                      <input type="text" class="form-control" id="editHeight" placeholder="Enter Height in cms">
                    </div>
                    <div class="col-6 mx-auto">
                      <label class="lab" for="editWeight">Weight(in kgs)</label>
                      <input type="text" class="form-control" id="editWeight" placeholder="Enter Weight in kgs">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-6 mx-auto">
                        <select name="" id="">
                            <option value="BMR">Basal Metabolic Rate (BMR)</option>
                        </select>
                    </div>
                  </div>
              </form>
        </div>
    </div>
    
</div>