<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="d-flex justify-content-center align-items-center">
        <div class="p-5 shadow-lg bg-body" style="width:max-content;">
                <h2>User with this email ID does not exists!</h2> <br>
                <h4>Please use a different email ID.</h4>
                <div class="d-flex justify-content-center mt-4">
                    <a type="submit" href="/login" class="p-2 px-3 btn btn-outline-success w-100"> Return to login page</a>
                </div>
        </div>
    </div>

</body>
</html>