/*---------------------*/
/*directory*/
*{
    box-sizing: border-box;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
  }
  
.one{
    background: rgb(214, 208, 226);
}

.one>h1{
    font-size: 8vw;
}

.two{
    background: rgb(70, 197, 102);
}
.three{
    background: rgb(78, 187, 214);
}
.four{
    background: rgb(75, 34, 158);
}